


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.conponents_header{
    background-color: white;
    padding: 1%;
    height: 11.9vh;
    border-bottom: 2px solid #4F83B4 ;
    display: flex;
    justify-content: space-between;
}

.perfil{
  font-size: 5rem;
}
.conponents_main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 5%;

}

.box_titulo{
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 2px solid #4F83B4;
    margin: 2%;
    gap: 15px;
}
.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.input{
    width: 300px;
    height: 30px;
}

.Nome_aluno{
    font-weight: 100;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.card_Container{
    display: flex;
    margin: 2%;
    align-items:center;
    gap: 50px;
}
.coluna_nomeAluno_email_turma{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
} 
form{
    display: flex;
}
.container_form{
    display: flex;
    gap: 150px;
}
.coluna_cpf_dataNascimento_senha{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.botao_adicionarSalvar{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
   padding: 2%;
}
.botao_adicionar{
    font-size: 2rem;
    color: #4F83B4;
    width:3vw;
    height: 5vh;
    border-radius: 50%;
    border: none;
    background-color: white;
    box-shadow: 1px 1px 1px black;
    z-index: 5;
    cursor: pointer;

 }
 .botao_salvar{
    background-color: #FF0000;
    color: white;
    height:5vh;
    width:6vw;
    border-radius: 16%;
    border: none;
    cursor: pointer;
 }
 footer{
    width: 100%;
    height: 6.9vh;
    background-color: #FF0000;
    display: flex;
    justify-content: end;
 }
 .Copyright{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: #4F83B4;
    color: white;
    justify-content: center;
    align-items: center;
 }