/* Fonts do projeto */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/************************************************************* header padrão do projeto  **************************************************************************************/

/* div inicial onde tudo está presso nela */
.inicio{
    height: 10vh;
    width: 100%;
    display: flex;
    padding-top: 2vh;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #4F83B4;
}

.logo{
    padding: 10px;
}

/* div onde o texto com o nome e foto do professor está */
.bem_vindo{
    display: flex;
    align-items: center;
    width: 300px;
    gap: 20px;
}

.ola_professor{
    display: flex;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

/********************************************************** main do mostrar todos os alunos ****************************************************/

.voltar{
    width: max-content;
    display: flex;
    height: max-content;
    padding-top: 1vh;
    padding-left: 5vh;
    gap: 20px;
}

.text_voltar{
    font-weight: 100;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: #4F83B4;
}


.apresentar{
    display: flex;
    gap: 13px;
    align-content: center;
    height: 10vh;
    width: 100%;
}

.adicionar_professor{
    font-weight: 100;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.add{
    padding-top: 6vh;
    width: 90%;
    margin-left: -50px;
    height: max-content;
    border-bottom: 2px solid #4F83B4;
}

.flecha_direita{
    width: 50px;
    height: 50px;
}

.main{
    width: 60%;
    height:10vh;
    display: grid;
}

.pesquisar{
    width: max-content;
    height: max-content;
    padding-top: 5%;
    padding-left: 6.5%;
}

.input_aluno{
    width: 45rem;
    height: 30px;
    border: 2px solid  #4F83B4;
    border-radius: 10px;

}

.cards_alunos{
    width: 100%;
    height: 100%;
    padding-top: 2%;
    padding-left: 7%;
    gap: 19px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}

.card{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 200px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
}

.img_aluno{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.text_alunos{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.name{
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #4F83B4;
}

.turma{
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #4F83B4;
}


.filtros{
    display: flex;
    justify-content: center;
    padding-left: 44%;
    margin-top: -110px;
    background-color: #FF0000;
    width: 100%;
    height: 64%;
}

.filter{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #4F83B4;

}

.turmas{
    width: 30px;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 2fr));
    background-color: blue;

}

.text_filtro{
    font-weight: 100;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: black;
    padding-left: 12px;
}

.line{
    width: 70%;
    height: 1px;
    background-color: black;
    margin-left: 12px;
}


/************************************************************************** Footer padrão do projeto *********************************************************************/

.botao_salvar{
    background-color: #FF0000;
    color: white;
    height:30vh;
    width:100%;
    border-radius: 16%;
    border: none;
    cursor: pointer;
 }
 .Copyright{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: #4F83B4;
    color: white;
    justify-content: center;
    align-items: center;
 }