*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

body{
    height: 100vh;
    width: 100%;
}

main{
    height: 100vh;
    width:100%;
    padding-top: 10px;
}