/*****Haeder***/
.inicio{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #4F83B4;
}

.logo{
    padding: 10px;
}

.bem_vindo{
    display: flex;
    align-items: center;
    width: 300px;
    gap: 20px;
}

.ola_professor{
    display: flex;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.image_perfil{
    font-size: 4rem;
}
/*****Main da Pagina***/
main{
    width: 100%;
    height: 84vh;
}

/*****Titulo Da pagina & botão de voltar***/
.botão_voltar{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap:10px;
    margin: 1%;
    color: #4F83B4;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.box_titulo{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #4F83B4;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 2%;
    gap: 15px;
}
.box_titulo span{
    border-bottom:2px solid #4F83B4;
}
 
.seata_adicionarProfessor{
    font-size: 3rem;
}

/*****Formulario***/
form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 20px;
}


/*****imagem do professor***/
#input_imag{
    display: none;
}
.picture{
    width: 14vw;
    height: 35vh;
    background-color: gray;
    display: flex;
    align-items: end;
    justify-content: center;
    color: black;
    border: 2px dashed #aaa;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: color 300ms ease-in-out, background 300ms  ease-in-out;
}
.picture:hover{
    color: #777;
    background: #ccc;
}
.image_professor{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*****Formulario do professor***/
.input_form{
    height: 40vh;
    width: 40vw;
    justify-content: space-between;
    align-items: center;
}

.form_container{
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   text-align: center;
}

.nome_professor{
   
    display: flex;
    align-items: start;
    gap: 15px;
    flex-direction: column;
}
.nome_professor span{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.nome_professor input{
    width: 40vw;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.email_professor{
   
    display: flex;
    align-items: start;
    gap: 15px;
    flex-direction: column;
}
.email_professor span{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.senha_professor{
    display: flex;
    align-items: start;
    gap: 15px;
    flex-direction: column;
}
.senha_professor span{
    font-family: 'Poppins', sans-serif;
    color: black;
}


/*****Botão para salvar ***/
.botao_salvar{
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: end;
}

.botao_salvar button{
    border: none;
    background-color: red;
    color: white;
    height: 5vh;
    width: 5vw;
    border-radius: 15%;
    cursor: pointer;
}

/*****footer***/
footer{
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: #4F83B4;
    color: white;
    height: 4vh;
    justify-content: center;
    align-items: center;

}