/*****Haeder***/
.inicio{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #4F83B4;
}

.logo{
    padding: 10px;
}

.bem_vindo{
    display: flex;
    align-items: center;
    width: 300px;
    gap: 20px;
}

.ola_professor{
    display: flex;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.image_perfil{
    font-size: 4rem;
}

main{
    width: 100%;
    height: 85vh;
}

/*****Titulo Da pagina & botão de voltar***/
.botão_voltar{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap:10px;
    margin: 1%;
    color: #4F83B4;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.box_titulo{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #4F83B4;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 2%;
    gap: 15px;
}
.box_titulo span{
    border-bottom:2px solid #4F83B4;
}
 
.seata_adicionarProfessor{
    font-size: 3rem;
}

/*****Main**/
.componentes_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 75%;
}

.barra_pesquisa{
    width: 90%;
    height: 10vh;
    margin-left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barra_pesquisa input{
    width: 90%;
    height: 40%;
    
}

/*****Cards******/
.cards_professor{
    width: 100%;
    height: 100%;
    padding:1%;
    gap: 19px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}

.card{
    display: flex;
    align-items: center;
    border: 1px solid red;
    gap: 20px;
    width: 200px;
    height: 100px;
    background-color:white;
    border-radius: 10px;
}
.text_professores{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.img_professor{
    height: 7vh;
    border-radius: 50%;
}


/*****Botão Adicionar Professor******/
.adicionar_professor{
    width: 100%;
    height: 10vh;
    display: flex;
    margin: 1%;
    justify-content: end;
    align-items: center;
}
.adicionar_professor button{
    width: 5vw;
    height: 7vh;
    border-radius: 100%;
}

/*****Modal******/
.modal{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    opacity: 0;
    z-index: -1;
}

.modal.active{
    opacity: 1;
    z-index: 1;
}

.modal-content{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
}

.modal-header{
    display: flex;
    position: relative;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
}


/*****Botão de fechar a modal*******/
.modal-close{
    position: absolute;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    background-color: #FF4949;
}

.modal-close:hover{
    
    color: black;
}

.modal-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

/*****Inputs da tela Modal*****/
.modal-field{
    width: calc(50% - 10px);
    height: 40px;
    outline-style: none;
    border-style: none;
    box-shadow: 0 0 2px black;
    padding: 0 10px;
    font-size:1rem;
}

.modal-field:focus{
    border: 2px solid #4F83B4;
}

.z-depth-5, .modal {
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*****Botão*******/
.button{
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.button.blue{
    background-color: #1FB6FF;
}

button.green{
    background-color: #13CE66;
}

button.red{
    background-color: #FF4949;
}

.button:hover{
    box-shadow: inset 200px 0 0 #00000055;
}






/*****Footer***/
footer{
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    color: white;
    background-color: #4F83B4;
    
}