@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* header */

.conponents_header{
    background-color: white;
    padding: 1%;
    height: 11.9vh;
    border-bottom: 2px solid #4F83B4 ;
    display: flex;
    justify-content: space-between;
}

.perfil{
  font-size: 5rem;
}
.conponents_main{
    height: 100%;
    width: 100%;
}

/* main */

.titulo{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_titulo{
    font-weight: 400;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #4F83B4;
}

.cards{
    display: flex;
    justify-content: space-around;
}

/* MAIN */
main{
    height: 100vh;
}

/* Footer  */


footer{
    height: 10rem;
    display: flex;
    align-items: end;


}
 .Copyright{
    height: 8rem;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: #4F83B4;
    color: white;
    justify-content: center;
    align-items: center;
 }